.nav-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 18vw;
  justify-content: space-around;
  background-color: grey;
  position: relative;

  @media (max-width: 300px) {
    width: 90px;
  }

  .navbar-links {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .active {
      width: 18vw;
      height: 10vh;
      background-color: black;

      @media (max-width: 300px) {
        width: 90px;
      }
    }

    .navbar-sub-category-title {
      font-size: 20px;
      text-align: center;
      margin-bottom: 10px;

      @media (max-width: 700px) {
        font-size: 14px;
      }
      @media (max-width: 480px) {
        font-size: 8px;
      }
    }

    .link {
      text-decoration: none;
      color: white;
      font-size: 20px;
      height: 10vh;
      width: 18vw;

      @media (max-width: 700px) {
        font-size: 14px;
      }
      @media (max-width: 480px) {
        font-size: 10px;
      }

      &:hover {
        background-color: black;

        @media (max-width: 300px) {
          width: 90px;
        }
      }

      .nav-div {
        width: calc(18vw - 10px);
        height: 10vh;
        display: flex;
        padding-left: 10px;
        align-items: center;

        &:hover {
          background-color: black;
        }
      }
    }
  }
}

.drawer-button {
  position: absolute;
  top: 5px;
  right: -51px;
  font-size: 35px;

  .drawer-button1 {
    color: black;
    font-size: 1em;
    outline: none;
    border: none;
  }
}

.nav-wrapper-closed {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 0vw;
  justify-content: space-around;
  background-color: grey;
  position: relative;

  .navbar-sub-category-title {
    display: none;
  }

  .link {
    display: none;
    text-decoration: none;
    color: white;
  }
}

.drawer-button {
  position: absolute;
  top: 5px;
  right: -51px;
  font-size: 35px;

  .drawer-button1 {
    color: black;
    font-size: 1em;
    outline: none;
    border: none;
  }
}
