.new-account-container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-items: center;
  
    .new-acct-image{
      height: 30vh;
      width: 30vw;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .new-account-container-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 30vh;
      width: 30vw;
      border: 4px solid black;
    }
  }