.links {
  .link-div {
    .letter-link {
      color: white;
      text-decoration: none;
      font-size: 1.8em;
      background-color: black;
      padding: 2px;
      border: 2px solid black;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
